<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <h2>{{ book.name }}</h2>
                    {% if book.image %}
                        <div> {{ book.image.url }} </div>
                        <img src="{{ book.image.url }}" alt="{{ book.name }}">
                    {% endif %}
                    <div>Page count: {{ book.page_count }}</div>
                    <div>Price: ${{ book.price }}</div>
                    <div>Authors:
                        {% for author in book.authors.all %}
                            {{ author.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div>Categories:
                        {% for category in book.categories.all %}
                            {{ category.genre }}
                        {% endfor %}
                    </div>
                    <div>
                        {{  book.cover }}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <!-- Pagination links -->
        {% if books.has_other_pages %}
            <div class="pages">
                    {% if books.has_previous %}
                        <a href="?page={{ books.previous_page_number }}">previous</a>
                    {% endif %}
                    {% if books.has_next %}
                        <a href="?page={{ books.next_page_number }}">next</a>
                    {% endif %}
            </div>
        {% endif %}
    {% else %}
        <h3>No books available.</h3>
    {% endif %}
</body>
</html>